@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding-right: 0px;
  margin: 0px;
}
.space-y-12 {
  margin-top: 0px;
}
main {
  min-height: calc(100vh - <height-of-header>); /* Вычитаем высоту хедера */
}
/* плавное затемнение по краям */
.hero-vignette::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
      1200px 600px at 50% 10%,
      rgba(127, 86, 217, 0.3),
      transparent 60%
    ),
    radial-gradient(
      800px 400px at 80% 60%,
      rgba(0, 0, 0, 0.55),
      transparent 60%
    ),
    radial-gradient(
      900px 500px at 20% 60%,
      rgba(0, 0, 0, 0.55),
      transparent 60%
    );
  pointer-events: none;
}
